@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic:wdth,wght@62.5,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-weight: 600;
    margin: 0;
}

p{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.body-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f3e0ff;
}

p{
    font-size: 1.2rem;
}

#container {
    width: 80%;
    max-width: 700px;
    text-align: center;
}

.screen {
    display: none;
    padding: 20px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #9b3cda;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8a33c4;
}

#nao{
    position: absolute;
}

input{
    margin-top: 0.5vw;
    font-size: 0.95rem;
    width: 15rem;
    padding: 0.4rem 0.5rem;
    border: solid 0.15rem #9b3cda;
    border-radius: 0.25rem;
}

.test{
    width: 15rem;
    height: 8rem;
}

.test img{
    max-width: 15rem;
}

.coluna{
    display: flex;
    max-width: 50rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: space-around;
}

.pri-img{
    max-width: 30rem;
}


.coluna-pergunta-maior{
    display: flex;
    max-width: 50rem;
}

.coluna-pergunta-maior button{
    width: 50rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}


.nav-bar{
    display: flex;
    gap: 4rem;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .pesquisa{
    display: flex;
    gap: 2rem;
  }

  a{
    color: #9b3adb;
    text-decoration: none;
    font-weight:600;
    font-size: 1.3rem;
  }

  .espacao{
    width: 31vw;
  }

  .color-azulbb{
    width: 15rem;
    height: 8rem;
    background-color: #8edcf7;
    }
    
    .color-vermelho{
    width: 15rem;
    height: 8rem;
    background-color: red;
    }

    .color-verde{
        width: 15rem;
        height: 8rem;
        background-color:  #0bd10b;
        }

        .color-amarelo{
            width: 15rem;
            height: 8rem;
            background-color:   #f7d917;
            } 

  